body{
    background-color: aqua; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}
.pagina-inicio{
    background-color: aliceblue;
    border-radius:5%;
    
}
 .presentacion {
    padding: 10px;
    text-align: center; 
    
 }
 

    


